.navbar{
    background-color: rgb(108, 162, 108) !important;
}

.navbar-brand{
    color: white;
}

.navbar-toggler{
    color: white;
}



.nav-link{
    color: white;
}

.nav-item{
    color: white;
}
.nav-item{
    color: white;
}

.collapse{
    color: white;
}
