.main-nosotros{
    padding: 30px;
    max-width: 800px;
    box-shadow: $shadow;
    margin: 30px auto;
    display: grid;
    background-color:  #69a56e;
    border-radius: 10px;
    text-align: center;
    color: #f5f7f7;
    font-size: 20px;

}