.card-sorrentinos{
    align-items: center;
    padding: 10px;
    width: 400px;
    max-width: fit-content;
    border: 2px solid;
    box-shadow: $shadow;
    border-radius: 5px;
    border-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    

}

.tarjeta-raviol{
    align-items: center;
    padding: 10px;
    width: 400px;
    max-width: fit-content;
    border: 2px solid;
    box-shadow: $shadow;
    border-radius: 5px;
    border-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}